*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Fredoka', sans-serif;
}
/*inizio header*/
header{
    background-image: url(file:///C:/Users/Emanuele/Desktop/coding/htmlcss-discord/img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.prima-riga{
    display: flex;
    justify-content: center;
    padding: 20px;

}
.prima-colonna{
    width: 250px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.seconda-colonna{
    width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.testo-link{
    display: flex;
    justify-content: space-evenly;
    color: white;
}
.terza-colonna{
    width: 250px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
p{
    padding: 10px;
    font-size: 20px;
    color: white;
}
.login-button{
    width: 80px;
    height: 40px;
    border: 2px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: 300;
    font-size: 15px;
}
.unica-colonna{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.titolo-colonna-unica{
    font-size: 60px;
    font-weight: 900;
}
.testo-colonna-unica{
    width: 90%;
    line-height: 40px;
    font-size: 20px;
    font-weight: 600;
    padding: 45px 0 25px 0;
}
.bottoni-header{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.download{
    width: 250px;
    height: 60px;
    border: 2px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: 20px;
}
.apri{
    width: 350px;
    height: 60px;
    border: 2px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(16, 15, 15);
    color: white;
    font-weight: 600;
    font-size: 20px;
}
/*sperimentazione header fino a qui, pochi risultati, recuperare più avanti*/
.seconda-riga{
    width: 100%;
    height: 515px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.unica-colonna{
    width: 50%;
}
/*fine header*/
/*inizio main*/
/*primo contenitore*/
.contenitore-bianco{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.riga-bianca{
    width: 60%;
    height: 80%;
    display: flex;
}
.colonna-azzurra{
    width: 60%;
}
.colonna-rosa{
    width: 40%;
    text-align: center;
}
h1{
    padding: 40px 40px 0px 40px;
    line-height: 60px;
}
h3{
    padding: 40px 40px 0px 40px;
}
/*esperimenti non conclusi primo contenitore*/
/*fine primo contenitore*/
/*inizo secondo contenitore*/
.contenitore-grigio{
    background-color: rgb(195, 194, 194);
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.riga-grigia{
    width: 80%;
    display: flex;
}
/*fine secondo contenitore*/
/*inizio terzo contenitre*/
.contenitore-bianco{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.riga-bianca{
    width: 60%;
    height: 80%;
    display: flex;
}
.colonna-rosa{
    width: 40%;
}
/*fine terzo contenitore*/
/*quarto contenitore*/
.contenitore-grigio-grande{
    width: 100%;
    height: 1160px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(195, 194, 194);
}
.riga-grigia{
    width: 60%;
    height: 92%;
    display: flex;
}
.colonna-verde-grande{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.testo-finale{
    text-align: center;
}
.frase-chiusura{
    background-repeat: no-repeat;
    background-image: url(file:///C:/Users/Emanuele/Desktop/coding/htmlcss-discord/img/stars.svg);
    
    width: max-content;
}
/*fine quarto contenitore
/*fine main*/
/*inizio footer*/
/*inizio contenitore nero grande*/
.contenitore-nero-grande{
    width: 100%;
    height: 580px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.837);
    padding-bottom: 30px;
}
.riga-nero-grande{
    padding-top: 40px;
    width: 60%;
    height: 95%;
    display: flex;
}
.colonna-salmone{
    width: 30%;
}
.lingua{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ita{
    height: 10%;
    width: 10%;
}
.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0px 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.socials{
    width: 100%;
    height: 40px;
    background-color: orange;
}
h2{
    font-size: 40px;
}
.colonna-acqua{
width: 17.5%;
display: flex;
justify-content: flex-start;
align-items: center;
flex-direction: column;
line-height: 40px;
}
a{
    text-decoration: none;
    color: white;
    text-size-adjust: 10px;
    font-weight: bold;
}
.blue{
    color: rgb(114, 137, 218);
}
/*fine contenitore nero grande*/
hr{
    border: 1px solid gray;
    width: 70%;
}
/*inizio contenitore nero piccolo*/
.contenitore-nero-piccolo{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.837);
}
.riga-acqua{
    width: 60%;
    height: 70%;
    padding-bottom: 50px;
    border-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-bottone{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottone-bottone{
    width: 100px;
    height: 40px;
    background-color: rgb(114, 137, 218);
    border: 2px;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h5{
    color: white;
    font-size: 100%;
    font-weight: lighter;
}
.p-footer{
    font-size: 100%;
}

/*fine contenitore nero piccolo*/
/*fine footer*/